<div id="contact">
  <p class="contact-text">Kapcsolat</p>
  <div class="address-container">
    <div class="map-container">
      <p class="our-address-text">Címünk</p>
      <p class="address-text">1026 Budapest</p>
      <p class="address-text">Pasaréti út 12.</p>
    </div>
    <iframe class="map" src="https://maps.google.com/maps?q=1026%20Budapest,%20Pasar%C3%A9ti%20%C3%BAt%2012.&t=&z=17&ie=UTF8&iwloc=&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
