<div id="contact">
  <p class="contact-text">Kapcsolat</p>
  <div class="address-container">
    <div class="map-container">
      <p class="our-address-text">Címünk</p>
      <p class="address-text">1137 Budapest</p>
      <p class="address-text">Szent István krt. 4.</p>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.809493859644!2d19.046690815504732!3d47.51310117917858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc0f10e6ee3b%3A0xde8ea962c06a1c77!2sBudapest%2C%20Szent%20Istv%C3%A1n%20krt.%204%2C%201137%20Magyarorsz%C3%A1g!5e0!3m2!1shu!2sch!4v1641133089162!5m2!1shu!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
