<div id="about">
  <div class="about-left">
    <p class="about-left-text upper">2018 óta dolgozom az esztétikai fogászat keretein belül klinikai fogászati higiénikusként. Célom, hogy nem csak ragyogóan szép, de egyben egészséges mosolyt varázsoljak pácienseim számára.</p>
    <p class="about-left-text bottom">Mindezt a legmodernebb technológiák segítségével valósítom meg. Fontos számomra, hogy pácienseim maximális elégedettséggel távozzanak és minél nagyobb kedvvel térjenek vissza hozzám.</p>
  </div>
  <div class="about-right">
    <img id="niki" src="../../../assets/niki.png" alt="image">
    <p class="beautiful-smile-text">"Ahol a gyönyörű mosoly kezdődik"</p>
    <p class="niki-name">Simon Nikolett</p>
    <p class="niki-profession">dentálhigiénikus, szájápolási szaktanácsadó</p>
  </div>
</div>
