<div class="container">
  <div class="contact-elements-container">
    <app-icon-and-short-text [info]="infoOpeningHours"></app-icon-and-short-text>
    <app-icon-and-short-text [info]="infoPhone"></app-icon-and-short-text>
    <app-icon-and-short-text [info]="infoEmail"></app-icon-and-short-text>
  </div>

  <div class="social-media-icons">
    <div class="icon-container">
      <a href="https://www.instagram.com/Nikolettdentalhigienikus/" target="_blank">
        <img class="icon" src="./../../../assets/instagram-icon.png" alt="insta">
      </a>
    </div>
    <div class="icon-container">
      <a href="https://www.facebook.com/nikolettdentalhigienikus-106842131880275" target="_blank">
        <img class="icon" src="./../../../assets/facebook-icon.png" alt="fb">
      </a>
    </div>
  </div>
</div>
