<app-header></app-header>


<div id="dashboard-container">
  <div class="left-side-content">
    <ul class="nav-links">
      <!--<li><a href="#banner">kezdőlap</a></li>-->
      <li><a href="#about">rólam</a></li>
      <li><a href="#services">szolgáltatások</a></li>
      <li><a [routerLink]="['/price']">árak</a></li>
      <li><a href="#contact">kapcsolat</a></li>
    </ul>

    <div id="text-slide" *ngIf="texts">
      <ol class="circle-container" (click)="onCircleClick($event)">
        <li value="1"><div id="1" class="circle1 circle activeCircle"></div></li>
        <li value="2"><div id="2" class="circle2 circle"></div></li>
        <li value="3"><div id="3" class="circle3 circle"></div></li>
        <li value="4"><div id="4" class="circle4 circle"></div></li>
        <li value="5"><div id="5" class="circle5 circle"></div></li>
        <li value="6"><div id="6" class="circle6 circle"></div></li>
      </ol>

      <p class="service-text" *ngIf="currentTextInTextSlide">{{ currentTextInTextSlide.value }}</p>
      <button 
        class="service-details-button" 
        *ngIf="currentTextInTextSlide" 
        [routerLink]="['/service', currentTextInTextSlide.serviceId]"
      >részletek</button>
    </div>
  </div>
  <div id="image-container">
    <img id="mainsmile" class="hide" src="./../../../assets/main-smile-dashboard-img.png" alt="smile">
  </div>
  
</div>

<div id="wave"></div>
