/* ==================== < 768px  =================== */

.nav-links {
  display: none;
}


#dashboard-container {
  background-image: url('./../../../assets/light-bubbles-light-bcg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  width: 100%;
  min-height: 70vh;
}

.left-side-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 70vh;
  padding: 1rem;
  z-index: 5;
}

#text-slide {
  display: flex;
  flex-direction: column;
}

#image-container {
  width: 80%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

#image-container:hover {
  transform: translate(-10px, -10px);
}

#image-container img {
  border-radius: 0 0 30% 30%;
  max-width: 100%;
  height: auto;
  margin-bottom: -1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#wave {
  height: 70px;
  width: 100%;
  background: #fff3e6;
  border-radius: 0 0 40% 40%;
  position: relative;
  bottom: 40px;
}

.circle-container {
  display: flex;
  padding: 0px;
}

.circle-container li {
  list-style-type: none;
  padding: 5px;
}

.circle {
  background: #8a888b;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.activeCircle {
  opacity: 1;
}


@keyframes slidein-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.service-text {
  margin: 0;
  color: #8a888b;
  text-transform: uppercase;
  font-size: 30px;
}

.service-details-button {
  background: #8a888b;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgb(68 54 45 / 50%);
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.service-details-button:hover {
  background: #fff;
  color: #8a888b;
  cursor: pointer;
}




/* ===================== between 0 and 400px =============================== */
@media screen and (max-width:400px) {
  .logo {
    width: auto;
    height: 4rem;
  }
}


/* ===================== 768px or wider screen =============================== */
@media screen and (min-width:768px) {
  .nav-links {
    display: flex;
    padding: 0px;
    height: 30%;
  }
  
  .nav-links li {
    list-style-type: none;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .nav-links li a{
    text-transform: uppercase;
    font-size: 1.3rem;
    text-decoration: none;
    color: #8a888b;
  }
  
  .nav-links li a:hover {
    background: white;
    padding: 15px;
    border-radius: 25px;
  }

  .circle {
    height: 1em;
    width: 1em;
  }

  .service-text {
    font-size: 2.5rem;
  }

  .service-details-button {
    font-size: 1.1rem;
  }
}
