<header>
  <div class="logos" [routerLink]="['']">
    <img class="logo" src="./../../../assets/logo-tooth-only.png" alt="logo">
    <img class="logo" src="./../../../assets/logo-only-text.png" alt="logo">
  </div>

  <div class="header-info-container">
    <div class="phone-container">
      <img class="header-info-icon" src="./../../../assets/phone.png" alt="clock">
      <p>+36 30 844 5446</p>
    </div>

    <div class="clock-container">
      <img class="header-info-icon" src="./../../../assets/clock.png" alt="clock">
      <div class="hours-container">
        <p>Péntek</p>
        <p>15:00 - 21:00</p>
      </div>
    </div>
  </div>
</header>
