<nav>
  <div id="nav-button-container" >
    <div class="nav-toggle-button" (click)="toggleNavMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  
  <div id="sidenav-links" class="hide-nav-links">
    <ul>
      <li (click)="toggleNavMenu()"><a href="#about">rólam</a></li>
      <li (click)="toggleNavMenu()"><a href="#services">szolgáltatások</a></li>
      <li (click)="toggleNavMenu()"><a href="#prices">árak</a></li>
      <li (click)="toggleNavMenu()"><a href="#contact">kapcsolat</a></li>
    </ul>

    <div class="sidenav-info-container">
      <div class="phone-container">
        <img class="header-info-icon" src="./../../../assets/phone.png" alt="clock">
        <p>+36 30 555 9898</p>
      </div>

      <div class="clock-container">
        <img class="header-info-icon" src="./../../../assets/clock.png" alt="clock">
        <div class="hours-container">
          <p>Péntek</p>
          <p>9:00 - 16:00</p>
        </div>
      </div>
    </div>
  </div>
</nav>
