<app-sidebar-nav class="sidenav"></app-sidebar-nav>
<app-header></app-header>
<app-navigation-bar></app-navigation-bar>

<div class="container">
  <div *ngIf="currentService">
    <p class="title">{{ currentService.title }}</p>

    <div class="sub-container">
      <div class="image-container">
        <img src="{{ currentService.imageSrc }}" alt="service">
      </div>
      <div class="content-container">
        <p class="content">{{ currentService.content }}</p>
        <a class="prices-button" [routerLink]="['/price']">árak</a>
      </div>
    </div>

    <app-before-after-image-slider class="slider" [beforeImg]="currentService.beforeImageSrc" [afterImg]="currentService.afterImageSrc"></app-before-after-image-slider>
  </div>
</div>

<app-footer></app-footer>
