#imageSliderDragContainer {
  display: flex;
  margin: 40px auto;
  /*box-shadow: 0 10px 30px 0 rgb(212 171 65);*/
}

#draggableImageSlider {
  position: absolute;
  width: 10px;
  background-color: #d4ab41;
}

#draggableImageSlider::before {
  content: "⯇";
  color: #d4ab41;
  font-weight: 700;
  top: calc(50% - 30px);
  left: calc(50% - 40px);
  line-height: 48px;
  font-size: 40px;
  padding: 0 0 0 0;
  position: absolute;
  text-align: center;
}

#draggableImageSlider::after {
  content: "⯈";   /* html code: &#11208; */
  color: #d4ab41;
  font-weight: 700;
  top: calc(50% - 30px);
  left: calc(50% - 20px);
  line-height: 48px;
  font-size: 40px;
  margin: 0 0 0 0;
  padding: 0 0 0 24px;
  position: absolute;
  text-align: center;
}
