<div id="imageSliderDragContainer" #myBounds>
  <div 
    id="draggableImageSlider" 
    ngDraggable 
    lockAxis='y' 
    [bounds]="myBounds" 
    [inBounds]="inBounds"
    (started)="onImageSliderStart($event)" 
    (stopped)="onImageSliderStop($event)" 
    (movingOffset)="onImageSliderMoving($event)" 
    (endOffset)="onImageSliderMoveEnd($event)" 
    [preventDefaultEvent]="true" 
  ></div>

  <img id="image1" src="./../../../assets/with-opacity.png" style="width: 205px; height: 278px; object-fit: cover; object-position: 0 0;" />
  <img id="image2" src="./../../../assets/with-opacity.png" style="width: 205px; height: 278px; object-fit: cover; object-position: 100% 0;" />
</div> 
